# Access Transformer for Nightfall Skin Mod
# Makes necessary fields accessible for mixins

public net.minecraft.client.multiplayer.PlayerInfo f_33138_ # skinTexture
public net.minecraft.client.multiplayer.PlayerInfo f_33137_ # model
